

  <button mat-button color="primary"> Mat Button </button><br>

  <button mat-raised-button color="primary">Mat Raised Button</button><br>
  <button mat-icon-button color="primary">
    <mat-icon>
      favorite | delete | edit | notification_important |notificattion-important
    </mat-icon>
  </button><br>
  <button matTooltip= "Save Product Info">ToolTip</button><br>
  <mat-card>
    <mat-form-field color="Yellow">
      <input matInput placeholder="Username">
    </mat-form-field>
  </mat-card><br>
  <mat-spinner color="yellow"></mat-spinner>

