<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    
    <li>
    <a routerLink="home" routerLinkActive="active c1"> Home</a>
    </li>
   <li>
    <a routerLink="about" routerLinkActive="active c1">About </a>
  </li>
    <li>
      <a routerLink="contact" routerLinkActive="active c1">Contact</a>
    </li>
    

    <li>
      <a routerLink="courses" routerLinkActive="active c1">Courses</a>
    </li>
  
    <li>
      <a routerLink="services" routerLinkActive="active c1">Services</a>
    </li>

  </ul>
    </nav>

    <hr>
    <router-outlet></router-outlet>







