<!--The content below is only a placeholder and can be replaced.-->
<div style="font-size:x-large;color:black;background-color:ghostwhite;margin:10px">
<h1>Home Page</h1>
<div style="font-size:x-large;background-color: lightyellow;color:black">
  <a routerLink="about"> About </a> &nbsp;&nbsp;
  <a routerLink="addproduct">Add Product</a>&nbsp;&nbsp;
  <a routerLink="display" >Display Products </a>&nbsp;&nbsp;
</div>
</div>

<div style="background-color: gold;color:black;font-size: x-large">
<router-outlet></router-outlet>
</div>